*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #efefef;
}
header{
    background-color: seagreen;
    color: white;
    padding: 4vh;
}
header h1{
    font-size: 4rem;
    text-align: center;
    margin: 0;
}
.container{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0rem;
}
section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}
section article h2, section article p{
    margin: 1rem;
}
img{
    width: 75%;
    display: block; /* importante el display block para que el margin auto centre */
    margin: auto;
}
footer{
    background-color: seagreen;
    padding: 2vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
footer a:hover{
    color: black;
}